<div th:fragment="addFeed(feeds)">
  <!-- ***** Feed Start ***** -->
  <div class="most-popular" style="margin-top: 20px; padding-top: 10px;">
    <div class="row">
      <div data-bs-toggle="modal" data-bs-target="#exampleModal"
           th:each="feed:${feeds}" class="col-lg-4 col-sm-6" onclick="onClick(this)">
        <div class="item">
          <img th:value="${feed.getId()}" th:src="${feed.getPhotoRoot()}" alt="">
          <h4 th:text="@{'# '+${feed.getWriter()}}"></h4><br>
          <h4><span th:text="${feed.getCocktailName()}"></span></h4>
          <ul>
            <li><i style="display: inline" class="fa fa-heart"></i> <a
                    th:text="@{' '+${feed.getLike()}}"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Feed End ***** -->
</div>