<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>칵테일 조주법 조회하기</h1>
<div>
    <th:block th:each="recipe : ${recipes}">
        <form th:action="@{'/cocktail/update/recipe/'+${recipe.getId()}}" method="get">
            <span>Id : </span><span th:text="${recipe.getId()}"></span><br>

            <span>이름 : </span><span th:text="${recipe.getName()}"></span><br>

            <span>설명 : </span><span th:text="${recipe.getDescription()}"></span><br>

            <span>분류 : </span><span th:text="${recipe.getClassification()}"></span><br>

            <span>도수 : </span><span th:text="${recipe.getAbv()}"></span><br>

            <span>난이도 : </span><span th:text="${recipe.getDifficulty()}"></span><br>
            <button type="submit">사진 등록하기</button>
            <br>
        </form>
    </th:block>
</div>

</body>
</html>