<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/cssAndJs :: addCssAndJs(${cocktailRecipe.getName()+'의 정보'})">
    <title>메인 타이틀</title>
</head>
<body>

<!-- ***** Header Area Start ***** -->
<div th:replace="~{common/navbar :: addNavbar(${memberIsAuthenticated}, ${member})}"></div>
<!-- ***** Header Area End ***** -->


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="game-details">
                    <div class="row">
                        <!-- 칵테일 description -->
                        <div class="col-lg-12" style="margin-bottom: 40px;">
                            <div class="content">
                                <div class="row">
                                    <div align="center" style="background-color: #27292a;
                                                    padding: 20px;
                                                    border-radius: 23px;
                                                    margin-bottom: 30px;">
                                        <div align="center">
                                            <h1 th:text="${cocktailRecipe.getName()}"/>
                                        </div>
                                    </div>
                                    <div align="left" style="width: 50%">
                                        <img th:src="${cocktailRecipe.getImg()}" alt=""
                                             style="border-radius: 23px; margin-bottom: 30px;">
                                    </div>
                                    <div align="right"
                                         style="width: 50%;
                                         border-radius: 13px;">
                                        <th:block th:each="element : ${elements}">
                                            <div style="background-color: #27292a;
                                                        padding: 30px 0;
                                                        margin-bottom: 30px;
                                                        border-radius: 15px;
                                                        text-align: center">
                                                <h4 th:text="${element.getName()}"/>
                                            </div>
                                        </th:block>
                                    </div>
                                    <div class="col-lg-12">
                                        <h4 th:text="${cocktailRecipe.getDescription()}"/>
                                    </div>
                                    <form th:action="@{'/basket/add/'+${cocktailRecipe.getId()}}" method="post">
                                        <button type="submit" class="customBtn">
                                            <div class="main-border-button">
                                                <a class="customLink">술바구니에 추가하기!</a>
                                            </div>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- 칵테일 조주법 -->
                        <div class="col-lg-12">
                            <div class="content">
                                <div class="row" style="text-align: center">
                                    <th:block th:each="recipe : ${recipes}">
                                        <div style="background-color: #27292a;
                                                        padding: 30px 0;
                                                        margin-bottom: 30px;
                                                        border-radius: 15px;
                                                        text-align: center">
                                            <h4 th:text="${recipe}"/>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>