<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegistCocktail</title>
</head>
<body>
    <h1>관리자 페이지(칵테일 조주법, 재료 등록)</h1>
    <form action="/cocktail/regist/cocktailrecipe" method="get">
        <button type="submit">칵테일 조주법 등록하기(관리자)</button>
    </form>
    <form action="/cocktail/regist/element" method="get">
        <button type="submit">칵테일 재료 등록하기(관리자)</button>
    </form>
    <form action="/cocktail/regist/elementbyrecipe" method="get">
        <button type="submit">조주법별 재료 등록하기(관리자)</button>
    </form>
</body>
</html>