<!DOCTYPE html>
<html lang="en">
<head th:replace="common/cssAndJs :: addCssAndJs(${member.getName()+'님의 정보 수정'})">
    <title>메인 타이틀</title>
</head>
<body>

    <div th:replace="~{common/navbar :: addNavbar(${memberIsAuthenticated}, ${member})}"></div>

    <!-- ***** Form Area Start ***** -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    <div class="col-lg-10 align-self-center">
                        <div class="heading-section">
                            <h4>
                                <em th:text="|${member.getName()}|"></em>
                                님 반갑습니다!
                            </h4>
                        </div>
                        <div class="main-info header-text"><h4>보다 정확한 추천을 위해 회원님의 추가 정보를 알려주세요!</h4>></div>
                        <form action="/member/update" method="post">
                            <h4 class="heading-section ">거주지</h4> <input onclick="execDaumPostcode()" class="input-group-text" type="text" name="address" id="address_kakao" readonly style="width: 30%"> <br>
                            <h4 class="heading-section ">직업</h4> <input class="input-group-text" type="text" name="job"><br>
                            <h4 class="heading-section ">생년월일</h4> <input class="input-group-text" type="date" name="birthDate"><br>
                            <select name="gender" id="gender" class="btn btn-secondary btn-lg dropdown-toggle required">
                                <option class="dropdown-item" value="">성별 선택</option>
                                <option class="dropdown-item" value="MALE">남성</option>
                                <option class="dropdown-item" value="FEMALE">여성</option>
                                <option class="dropdown-item" value="HIDDEN">숨김</option>
                            </select>
                            <br>
                                <button class="customBtn" type="submit" style="float: right;">
                                    <div class="main-button">
                                        <a class="customLink=">완료</a>
                                    </div>
                                </button>
                        </form>
                            <button class="customBtn" onclick="location.href='/home'" style="float: right;">
                                <div class="main-border-button">
                                    <a class="customLink=">홈으로 가기</a>
                                </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ***** Form Area End ***** -->

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function execDaumPostcode() {
                //카카오 지도 발생
                new daum.Postcode({
                    oncomplete: function (data) { //선택시 입력값 세팅
                        const addressList = data.address.split(" ");
                        document.getElementById("address_kakao").value = addressList[0] + " " + addressList[1] + " " + addressList[2] + " " + addressList[3]; // 주소 넣기
                        document.querySelector("input[name=address]").focus(); //상세입력 포커싱
                    }
                }).open();
        }
    </script>

    <script th:inline="javascript">
        window.onload = function () {
            let exceptionMessage = [[${ errorMessage }]];
            if(exceptionMessage !== null) {
                alert(exceptionMessage);
            }
        }
    </script>
</body>
</html>