<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title th:text="|${member.getName()}님 의 프로필|"></title>

    <!-- Bootstrap core CSS -->

    <!-- jQuery library -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/js/jquery/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>

    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/tabs.js"></script>
    <script src="/js/popup.js"></script>
    <script src="/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Bootstrap core CSS -->
    <!--    <link href="/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!--

    TemplateMo 579 Cyborg Gaming

    https://templatemo.com/tm-579-cyborg-gaming

    -->
</head>
<body>

<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="/images/logo_white.png" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Search End ***** -->
                    <div class="search-input">
                        <form id="search" action="#">
                            <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                            <i class="fa fa-search"></i>
                        </form>
                    </div>
                    <!-- ***** Search End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="/feed">Feed</a></li>
                        <li><a href="/cocktail/find/cocktailrecipe">Cocktail</a></li>
                        <li><a href="/basket">Basket</a></li>
                        <span th:if="${memberIsAuthenticated}">
                            <li class="nav-item dropdown">
                                <a href="/member/profile" class="active nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <p style="display: inline" th:text="${member.getName()}">
                                    </p>
                                    <img th:src="${member.getProfileImage()}" alt="">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><p class="dropdown-item" onclick="location.href='/member/profile'">프로필</p></li>
                                    <li><p class="dropdown-item" onclick="location.href='/apply/add'">요청글 쓰기</p></li>
                                    <li><p class="dropdown-item" onclick="location.href='/logout'">로그아웃</p></li>
                                </ul>
                            </li>
                        </span>
                        <span th:if="!${memberIsAuthenticated}">
                            <li><a href="/" class="active">로그인</a></li>
                        </span>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <!-- ***** Banner Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-profile ">
                            <div class="row">
                                <div class="col-lg-6 align-self-center">
                                    <img th:src="${member.getProfileImage()}" alt="" style="border-radius: 23px; width: 200px; height: 200px;">
                                    <div class="main-info header-text" style="margin-top: 20px; margin-left: 50px;">
                                        <h5 th:text="${member.getName()}"></h5>
                                    </div>
                                </div>
                                <div class="col-lg-6 align-self-center">
                                    <ul>
                                        <li>생년월일 <span th:text="${member.getBirthDate()}"></span></li>
                                        <li>거주지 <span th:text="${member.getAddress()}"></span></li>
                                        <li>성별 <span th:text="${member.getGender()}"></span></li>
                                    </ul>
                                    <button class="customBtn" style="float: right; margin-top: 20px">
                                        <div class="main-border-button">
                                            <a class="customLink" onclick="location.href='/basket?page=1'">술바구니 가기</a>
                                        </div>
                                    </button>
                                    <button class="customBtn" style="float: right; margin-top: 20px">
                                        <div class="main-border-button">
                                            <a class="customLink" onclick="location.href='/member/info'">프로필 정보 수정</a>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- ***** Banner End ***** -->
            </div>
        </div>
    </div>
        <div class="row justify-content-center" style="margin-top: 20px;">
            <div class="col-6">
                <!-- ***** Tab Start ***** -->
                <ul class="nav nav-pills nav-fill">
                    <th:block th:if="${feedCategory == 'wrote'}">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/member/profile?feed=wrote">내가 쓴 피드</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/member/profile?feed=like">좋아요한 피드</a>
                        </li>
                    </th:block>
                    <th:block th:if="${feedCategory == 'like'}">
                        <li class="nav-item">
                            <a class="nav-link" href="/member/profile?feed=wrote">내가 쓴 피드</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/member/profile?feed=like">좋아요한 피드</a>
                        </li>
                    </th:block>
                </ul>
                <!-- ***** Tab End ***** -->
            </div>
            <hr class="my-2" style="color: whitesmoke">
        </div>
        <!-- ***** Feed Start ***** -->
        <div class="most-popular" style="margin-top: 20px; padding-top: 10px;">
            <div class="row">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal"
                     th:each="feed:${feedList}" class="col-lg-4 col-sm-6" onclick="onClick(this)">
                    <div class="item">
                        <img th:value="${feed.getId()}" th:src="${member.getProfileImage()}" alt="">
                        <h4 th:text="@{'# '+${feed.getWriter()}}"></h4><br>
                        <h4><span th:text="${feed.getCocktailName()}"></span></h4>
                        <ul>
                            <li ><i style="display: inline" class="fa fa-heart" ></i> <a th:text="@{' '+${feed.getLike()}}"></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Feed End ***** -->
    </div>
</div>

        <!-- ***** Banner End ***** -->


<!-- Modal -->
<div class="modal fade border-0" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">


            <!--modal header start-->
            <div class="modal-header border-0" style="background-color: #1F2122">
                <span><img style="border-radius: 50%; height: 30px;width: 30px" class="writerProfile" src="">
                        <span class="feedWriter" style="margin-left: 5px; color: white;font-size: 20px;margin-top: 5px"></span></span>
                <a type="button" class="active" data-bs-dismiss="modal">확인</a>
            </div>
            <!--modal header end-->


            <!--modal body start-->

            <div class="modal-body border-0" style="background-color: #27292A">
                <svg class="bd-placeholder-img rounded mx-auto d-block" width="250" height="250"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 200x200"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">200x200</text>
                </svg>
                <div class="d-flex justify-content-center">
                    <p class="cocktailName" style="color: white;">술이름</p>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="feedContent" style="color: whitesmoke"></p>
                </div>

                <div style="margin-top: 20px" class="d-flex justify-content-center">
                    <div class="no1">
                        <button style="background-color: transparent;border: none " class="like" onclick=pushLike(this)><i class="bi bi-emoji-heart-eyes-fill" style="font-size: 1.5rem;color: #ADB5BD"></i></button>
                    </div>
                    <div class="no2">
                        <button  style="background-color: transparent;border: none " class="hate" onclick=deleteLike(this)><i class="bi bi-emoji-heart-eyes-fill" style="font-size: 1.5rem; color: #EC6090"></i>
                        </button>
                    </div>
                </div>
                <div style="margin-top: -8px; margin-bottom: -15px" class="d-flex justify-content-center">
                    <p style="font-size: 12px; color: white" class="NumberOfLike"></p>
                </div>


            </div>
            <!--modal body end-->

            <!--modal footer start-->

            <div id="updateDelete" class="modal-footer border-0" style="background-color: #1F2122;">
                <!--                <div class="updateDelete">-->
                <form class="deleteFeed" method="post">
                    <button type="submit">삭제</button>
                </form>
                <form class="updateFeed" method="get">
                    <button>수정</button>
                </form>
                <!--                </div>-->
            </div>

            <!--modal footer end-->

        </div>
    </div>
</div>
<!--modal end-->

<script>
    function onClick(arg) {
        id = arg.children[0].children[0].attributes[0].nodeValue;

        $.ajax({
            url: "/feed/" + id, // (Required) 요청이 전송될 URL 주소
            type: "GET", // (default: ‘GET’) http 요청 방식
            data: {
                feedId: id
            },
            success: function (data, status, xhr) {
                let whetherLike = data.whetherLike;
                if (!whetherLike) {
                    $('.no1')[0].style.display = "inline-block";
                    $('.no2')[0].style.display = "none";
                } else {
                    $('.no1')[0].style.display = "none";
                    $('.no2')[0].style.display = "inline-block";
                }
                let whetherWriter = data.whetherWriter
                if (whetherWriter) {
                } else {
                    $('#updateDelete')[0].style.display = "none"

                }
                document.getElementsByClassName("feedContent")[0].textContent = data.feed.content;
                document.getElementsByClassName("feedWriter")[0].textContent = data.feedWriter.name;
                document.getElementsByClassName("writerProfile")[0].src=data.feedWriter.profileImage;
                document.getElementsByClassName("cocktailName")[0].textContent = data.cocktailName;
                document.getElementsByClassName("NumberOfLike")[0].textContent = data.NumberOfLike;
                document.getElementsByClassName("like")[0].value = data.feedId;
                document.getElementsByClassName("hate")[0].value = data.feedId;
                document.getElementsByClassName("deleteFeed")[0].action = "/feed/delete/" + id;
                document.getElementsByClassName("updateFeed")[0].action = "/feed/update/" + id;

            },
            error: function (xhr, status, error) {
                // 응답을 받지 못하거나 정상적인 응답이지만 데이터 형식을 확인할 수 없는 경우
            },

        });
    }

    function pushLike(arg) {
        id = arg.value
        $.ajax({
            url: "/like", // (Required) 요청이 전송될 URL 주소
            type: "POST", // (default: ‘GET’) http 요청 방식
            data: {
                feedId: id
            },
            success: function (data, status, xhr) {

                document.getElementsByClassName("no1")[0].style.display = "none";
                document.getElementsByClassName("no2")[0].style.display = "inline-block";
                document.getElementsByClassName("NumberOfLike")[0].textContent = data.numberOfLike;
            },
            error: function (xhr, status, error) {
                // 응답을 받지 못하거나 정상적인 응답이지만 데이터 형식을 확인할 수 없는 경우
            },

        });
    }

    function deleteLike(arg) {
        id = arg.value
        $.ajax({
            url: "/like/cancel", // (Required) 요청이 전송될 URL 주소
            type: "POST", // (default: ‘GET’) http 요청 방식
            data: {
                feedId: id
            },
            success: function (data, status, xhr) {
                document.getElementsByClassName("no1")[0].style.display = "inline-block";
                document.getElementsByClassName("no2")[0].style.display = "none";
                document.getElementsByClassName("NumberOfLike")[0].textContent = data.numberOfLike;
            },
            error: function (xhr, status, error) {
            },

        });
    }

</script>
</body>
</html>