<!DOCTYPE html>
<html lang="en">

<head th:replace="common/cssAndJs :: addCssAndJs(${member.getName()+'님의 프로필'})">
    <title>메인 타이틀</title>
</head>
<body>

<div th:replace="~{common/navbar :: addNavbar(${memberIsAuthenticated}, ${member})}"></div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <!-- ***** Banner Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-profile ">
                            <div class="row">
                                <div class="col-lg-6 align-self-center">
                                    <img th:src="${member.getProfileImage()}" alt="" style="border-radius: 23px; width: 200px; height: 200px;">
                                    <div class="main-info header-text" style="margin-top: 20px; margin-left: 50px;">
                                        <h5 th:text="${member.getName()}"></h5>
                                    </div>
                                </div>
                                <div class="col-lg-6 align-self-center">
                                    <ul>
                                        <li>생년월일 <span th:text="${member.getBirthDate()}"></span></li>
                                        <li>거주지 <span th:text="${member.getAddress()}"></span></li>
                                        <li>성별 <span th:text="${member.getGender()}"></span></li>
                                    </ul>
                                    <button class="customBtn" style="float: right; margin-top: 20px">
                                        <div class="main-border-button">
                                            <a class="customLink" onclick="location.href='/basket?page=1'">술바구니 가기</a>
                                        </div>
                                    </button>
                                    <button class="customBtn" style="float: right; margin-top: 20px">
                                        <div class="main-border-button">
                                            <a class="customLink" onclick="location.href='/member/info'">프로필 정보 수정</a>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- ***** Banner End ***** -->
            </div>
        </div>
    </div>
        <div class="row justify-content-center" style="margin-top: 20px;">
            <div class="col-6">
                <!-- ***** Tab Start ***** -->
                <ul class="nav nav-pills nav-fill">
                    <th:block th:if="${feedCategory == 'wrote'}">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/member/profile?feed=wrote">내가 쓴 피드</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/member/profile?feed=like">좋아요한 피드</a>
                        </li>
                    </th:block>
                    <th:block th:if="${feedCategory == 'like'}">
                        <li class="nav-item">
                            <a class="nav-link" href="/member/profile?feed=wrote">내가 쓴 피드</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/member/profile?feed=like">좋아요한 피드</a>
                        </li>
                    </th:block>
                </ul>
                <!-- ***** Tab End ***** -->
            </div>
            <hr class="my-2" style="color: whitesmoke">
        </div>

        <div th:replace="~{common/feed :: addFeed(${feedList})}"></div>
    </div>
</div>

        <!-- ***** Banner End ***** -->
<div th:replace="~{common/modal :: addModal}"></div>
</body>
</html>