<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chainsmoker.marronnier.feed.query.infra.repository.FeedMapper">
    <resultMap id="QueryFeedMap" type="com.chainsmoker.marronnier.feed.query.domain.entity.QueryFeed">
        <id property="Id" column="Id"/>
        <result property="memberId" column="memberId"/>
        <result property="cocktailId" column="cocktailId"/>
        <result property="content" column="content"/>
    </resultMap>
    <select id="findAllFeeds" resultMap="QueryFeedMap">
        SELECT *
        FROM
            FEED_TB
        ORDER BY
            feedId DESC
    </select>
</mapper>