<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>member's Basket</title>
</head>
<body>
<table border="1">
  <tr align ="center">
      <th>칵테일 ID</th>
      <th>칵테일 이름</th>
      <th>칵테일 설명</th>
      <th>칵테일 제작 난이도</th>
      <th>추가 날짜</th>
      <th>피드 작성</th>
      <th>삭제</th>
  </tr>
  <tr th:each="basket : ${memberCockTailBaskets}" align ="center">
      <td th:text="${basket.getCockTailRecipeId()}">
    <td th:text="${basket.getCockTailRecipeName()}"></td>
    <td th:text="${basket.getCockTailRecipeDescription()}"></td>
      <td th:text="${basket.getCockTailRecipeDifficulty()}"></td>
    <td th:text="${basket.getCreatedDate()}"></td>
      <td>
          <button onclick="location.href='/feed/write'">피드 작성하기</button>
      </td>
      <td>
          <form action="/basket/delete" method="post">
              <input th:value="${basket.getId()}" hidden="hidden" name="basketId">
              <input th:value="${basket.getCockTailRecipeId()}" hidden="hidden" name="cockTailRecipeId">
              <button type="submit">삭제</button>
          </form>
      </td>
  </tr>
</table>
<button id="add-basket" onclick="location.href='/basket/add'">술 추가하기</button>
</body>
</html>