<!DOCTYPE html>
<html lang="en">

<head th:replace="common/cssAndJs :: addCssAndJs(${member.getName()}+'님 의 술바구니')">
    <title>메인 타이틀</title>
</head>
<body>

    <div th:replace="~{common/navbar :: addNavbar(${memberIsAuthenticated}, ${member})}"></div>


<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-lg-12">
                    <!-- ***** Gaming Library Start ***** -->
                    <div class="gaming-library profile-library">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4><em th:text="${member.getName()}"></em> 님의 술 바구니</h4>
                            </div>
                            <div class="item" th:each="basket : ${baskets}">
                                <ul>
                                    <li><img th:src="${member.getProfileImage()}" alt="" class="templatemo-item" style="width: 80px; height: 80px;"></li>
                                    <li><h4>칵테일 이름</h4><span th:text="${basket.getCockTailRecipeName()}"></span></li>
                                    <!--<li><h4>칵테일 설명</h4><span th:text="${basket.getCockTailRecipeDescription()}"></span></li>-->
                                    <li><h4>칵테일 제작 난이도</h4><span th:text="${basket.getCockTailRecipeDifficulty()}"></span></li>
                                    <li><h4>추가 날짜</h4><span th:text="${basket.getCreatedDate()}"></span></li>
                                    <li><div class="main-border-button" style="margin-left: 30px;"><a th:href="@{/feed/write/{cocktailRecipeId}(cocktailRecipeId = ${basket.getCockTailRecipeId()})}">피드 작성</a></div></li>
                                    <li>
                                        <form action="/basket/delete" method="post">
                                            <input th:value="${basket.getCockTailRecipeId()}" hidden="hidden" name="cockTailRecipeId">
                                            <button type="submit" class="customBtn">
                                                <div class="main-border-button">
                                                    <a class="customLink">삭제</a>
                                                </div>
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            <!-- ***** Gaming Library End ***** -->
        </div>
        <div th:replace="~{common/pagination :: addPagination(${basketPages},'basket')}"></div>
    </div>
</div>

<!-- ***** Banner End ***** -->
</body>
</html>