<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>피드번호</th>
    <th>피드쓴사람</th>
    <th>술</th>
    <th>내용</th>
  </tr>
  </thead>
    <td><span th:text="${feed.getId()}"></span>
    </td>
    <td>
     <span th:text="${feed.getMemberId()}"></span>
    </td>
    <td>
     <span th:text="${feed.getCocktailId()}"></span>
    </td>
    <td>
    <span th:text="${feed.getContent()}"></span>
    </td>
  <a th:href="@{'/feed/update/'+${feed.getId()}}">
    <button>수정</button>
  </a>
  </tr>
  <th:block th:if="${whetherLike ==0}">
  <form action="/like" method="post">
    <input type="text" th:value="${feed.getId()}" name="feedId" hidden>
    <button type="submit">좋아요</button>
  </form>
  </th:block>

  <th:block th:if="${whetherLike ==1}">
    <form action="/like/cancel" method="post">
      <input type="text" th:value="${feed.getId()}" name="feedId" hidden>
      <button type="submit">좋아요취소</button>
    </form>
  </th:block>
</table>
<div>
  좋아요 수
</div>
<input type="text" th:value="${NumberoFlIKE}" readonly>

</body>
</html>