<!DOCTYPE html>
<html lang="en" xmlns:>
<head th:replace="common/cssAndJs :: addCssAndJs('피드')">
    <title>메인 타이틀</title>
</head>
<!-- ***** Preloader Start ***** -->
<body>
<div th:replace="~{common/navbar :: addNavbar(${memberIsAuthenticated}, ${member})}"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div style="background-color: #1f2122" class="page-content">
                <div class="heading-section" style="margin-left: 30px">
                    <h4>All Feeds</h4>
                </div>
                <div th:replace="~{common/feed :: addFeed(${feeds})}"></div>

            </div>
        </div>
    </div>
</div>

<div th:replace="~{common/modal :: addModal}"></div>


</body>
</html>

