<!DOCTYPE html>
<html lang="en">
<head th:replace="common/cssAndJs :: addCssAndJs('피드 수정')">
    <title>메인 타이틀</title>
</head>
<body>
<div th:replace="~{common/navbar :: addNavbar(${memberIsAuthenticated}, ${member})}"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">


                <form th:action="@{'/feed/'+${feed.getId()}}" method="post">

                    <div class="mb-3 row">
                        <label for="writer" style="color: #d3d6d8" class="col-sm-2 col-form-label fw-semibold">작성자</label>
                        <div class="col-sm-10">
                            <input type="text" style="color: #d3d6d8" readonly class="form-control-plaintext fw-semibold" id="writer"
                                   th:value="${member.getName()}"
                                   name="memberName">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label style="color: #d3d6d8" for="cocktail" class="col-sm-2 col-form-label fw-semibold">칵테일</label>
                        <div class="col-sm-10">
                            <input type="text" style="color: #d3d6d8" readonly class="form-control-plaintext fw-semibold" id="cocktail"
                                   th:value="${feed.getCocktailId()}" name="cocktailId">
                        </div>
                    </div>

                    <input th:value="${feed.getMemberId()}" name="memberId" hidden="hidden"><br>

                    <div class="mb-3 row">
                        <label for="inputContent" class="col-sm-2 col-form-label text-white fw-semibold">내용</label>
                        <div class="col-sm-10">
                            <textarea th:text="${feed.getContent()}" style="background-color: transparent ;color: #d3d6d8" class="form-control fw-semibold" id="inputContent" name="content"></textarea>
                        </div>
                    </div>
                    <button style="margin-top: 30px; margin-bottom: -20px" type="submit" class="customBtn">
                        <div class="main-border-button">
                            <a type="submit" class="customLink" >작성</a>
                        </div>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>