<!DOCTYPE html>
<html lang="en">

<head th:replace="common/cssAndJs :: addCssAndJs(${'칵테일 추천받기'})">
    <title>메인 타이틀</title>
</head>
<body>

<!-- ***** Header Area Start ***** -->
<div th:replace="~{common/navbar :: addNavbar(${memberIsAuthenticated}, ${member})}"></div>
<!-- ***** Header Area End ***** -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-profile "
                        style="padding: 100px;">
                            <div class="row" style="text-align: center;
                                      margin-bottom: 50px;">
                                <h2>Q1.어떤 칵테일을 원하시나요?</h2>
                            </div>

                                <div align="center" style="float:left;width: 50%;">
                                    <button  onclick="location.href='/cocktail/recommand/A'"  class="customBtn">
                                        <div class="main-border-button">
                                            <a class="customLink" >소주와 맥주를 섞은 간단한 칵테일</a>
                                        </div>
                                    </button>
                                </div>
                                <div align="center" style="float:right;width: 50%;">
                                    <button onclick="location.href='/cocktail/recommand/B'"  class="customBtn">
                                        <div class="main-border-button">
                                            <a class="customLink">좀 더 다채롭고 새로운 칵테일</a>
                                        </div>
                                    </button>
                                </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Banner End ***** -->
</body>
</html>