<!DOCTYPE html>
<html lang="en">

<head th:replace="common/cssAndJs :: addCssAndJs(${'칵테일 추천받기'})">
    <title>메인 타이틀</title>
</head>
<body>

<!-- ***** Header Area Start ***** -->
<div th:replace="~{common/navbar :: addNavbar(${memberIsAuthenticated}, ${member})}"></div>
<!-- ***** Header Area End ***** -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-profile "
                             style="padding: 100px;">
                            <div class="row" style="text-align: center;
                                      margin-bottom: 50px;">
                                <h2>Q2.당신의 실력은 어느정도인가요?</h2>
                            </div>

                                <div align="center" style="float: left;width: 33%;">
                                    <button  class="customBtn">
                                        <div class="main-border-button">
                                            <a class="customLink" th:href="@{/cocktail/recommand/question(drink=${drink}, difficulty='EASY')}">응애응애~ 아기</a>
                                        </div>
                                    </button>
                                </div>
                                <div align="center" style="float: left; width: 33%;">
                                    <button  class="customBtn">
                                        <div class="main-border-button">
                                            <a class="customLink" th:href="@{/cocktail/recommand/question(drink=${drink}, difficulty='NORMAL')}">나 정도면 평균아닌가?</a>
                                        </div>
                                    </button>
                                </div>
                                <div align="center" style="float: left; width: 33%;">
                                    <button  class="customBtn">
                                        <div class="main-border-button">
                                            <a class="customLink" th:href="@{/cocktail/recommand/question(drink=${drink}, difficulty='HARD')}">씹고수</a>
                                        </div>
                                    </button>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Banner End ***** -->

</body>
</html>