<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chainsmoker.marronnier.photo.query.domain.repository.PhotoMapper">
    <resultMap id="QueryPhotoMap" type="com.chainsmoker.marronnier.photo.query.application.dto.FindPhotoDTO">
        <id property="id" column="id"/>
        <result property="photoName" column="PHOTO_NAME"/>
        <result property="photoRoot" column="PHOTO_ROOT"/>
    </resultMap>

    <select id="findByIdAndCategoryPhotos" resultMap="QueryPhotoMap" parameterType="Map">
        SELECT
            ID,
            PHOTO_NAME,
            PHOTO_ROOT
        FROM
            PHOTO_TB
        WHERE
            ORIGIN_ID = #{originId}
            AND PHOTO_CATEGORY = #{category}
    </select>
</mapper>